@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@500&display=swap');


.sortAll {
display: flex;
justify-content: space-between;
margin: 1rem 4rem 1rem 3rem;
color: #2c2c2c;
z-index: 0;
}


.headerSort {
    position: relative;
    // z-index: 0;
    width: 98.7vw;
    text-align: left;
    // padding-left: 2rem;
    display: flex;
    flex-direction: row;
}

.sortSection {
    display: flex;
    flex-direction: row;
    // border: 1px solid yellow;
    text-align: right;
}

.linkNav {
display: flex;
flex-direction: row;
// border: 1px solid yellow;
padding-left: 2rem;
}

.linkNav:hover {
animation: rotation 0.5s ease-in-out forwards;
cursor: pointer;
}  
 
  @keyframes rotation {
  
      0% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
      }
      30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
                transform: scale3d(1.25, 0.75, 1);
      }
      40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
                transform: scale3d(0.75, 1.25, 1);
      }
      50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
                transform: scale3d(1.15, 0.85, 1);
      }
      65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
                transform: scale3d(0.95, 1.05, 1);
      }
      75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
                transform: scale3d(1.05, 0.95, 1);
      }
      100% {
        -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
      }
    }
    
  
  .lineHorizontal {

width: 100%;
border: 1px solid gray;
padding:0px;
margin:0px;


  }